<h1>Your cart</h1>

<div class="bs-example" data-example-id="simple-table">
    <table class="table">
          <thead>
        <tr>

                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>

        <tbody>
          <% total_price = 0 %>
          <% total_quantity = 0 %>
          <% @items.each do |item| %>
            <tr>
                <td><%= item[0].title %></td>
                <td><%= item[0].price %></td>
                <td><%= item[1] %></td>
            </tr>
            <% total_price += item[0].price * item[1].to_i %>
            <% total_quantity += item[1].to_i %>
            <% end %>

            <tr>
                <td></td>
                <td>Total: <%= total_price %>rur</td>
                <td>Total: <%= total_quantity %>qq</td>
            </tr>

        </tbody>
    </table>
</div>
