<h2>Welcome to Pizza Shop.</h2>

<div class="row">

  <% @product.each do |p| %>
  <div class="col-md-3">

      <div>
          <%= p.title %> </br>
      </div>

      <div>
          <img src="<%= p.path_to_image %>"width="200" height="200" /> </br>
      </div>

      <div>
          Price:  <%= p.price %> rur </br>
      </div>

      <div>
          Size:  <%= p.size %> </br>
      </div>

      <div>
          <p>
              <button type="button" class="btn btn-success btn-xs" onclick="add_to_cart(<%= p.id %>)">Add to cart</button>
          </p>
      </div>

  </div>
  <% end %>
</div>
</br>
</br>

<button type="button" class="btn btn-primary" onclick="something()">Click me!</button>

<script type="test/javascript">

$(function(){

  update_orders_input(;)

});
</script>
